.App {
  text-align: center;
}
* {box-sizing: border-box;}
.header {
  overflow: hidden;
  background-color: #cf1717;
  padding:2vh;
  padding-bottom: 1vh;
}
.header img{
  float:left;
  height:8vh;
  width:8vh;
}
.header-right {
  float: right;
}
input[type=text] {
  height:4vh;
  width:20vh;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-size:2vh;
  color: aliceblue;
  background-color: rgb(201, 42, 42);
  padding: 12px 20px 12px 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

input[type=text]:focus {
  width:30vh;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
  margin-right:-1vh;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

@media screen and (max-width: 500px) {
  input[type=text]:focus {
    width:25vh;
  }
}