.header {
  overflow: hidden;
  background-color: #cf1717;
  padding:2vh;
  padding-bottom: 1vh;
  top: 0vh;
  position: sticky;
}
.header img{
  float:left;
  height:8vh;
  width:8vh;
}
.header-right {
  float: right;
}
input[type=text] {
  height:5vh;
  width:20vh;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 4px;
  font-size:2vh;
  color: aliceblue;
  background-color: rgb(201, 42, 42);
  padding: 12px 20px 12px 20px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

input[type=text]:focus {
  width:30vh;
  -webkit-transition:0.4s ease-in-out;
  transition:0.4s ease-in-out;
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}
.cards-container{
 min-width:50%;
  min-height:12vh;
  border: 1px solid;
  border-radius: 2vh;
  margin: 2vh 25% 1vh 25%;
  -webkit-box-shadow: 3px 3px 12px 1px rgba(107,102,107,1);
-moz-box-shadow: 3px 3px 12px 1px rgba(107,102,107,1);
box-shadow: 3px 3px 12px 1px rgba(107,102,107,1);
}
.cardImage
{
  width:10vh;
  height:10vh;
  padding:1vh;
  float :right;    
  right:2vh;
  margin: 0 auto;
  border-radius: 2vh;
}
.player
{
  border: 2px solid rgb(201, 42, 42);
  margin:5vh 50vh 0 50vh;
}
#playerImage
  {
    width:20vh;
    height:20vh;
    border-radius: 50%;
    display:block;
    margin:auto;
    margin-top:5vh;
  }
  .rotate{
    animation: rotation 10s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.songData
  {
    font-family: 'Roboto', sans-serif;
    padding:3vh 2vh 2vh 5vh;
    text-align: justify;
  }
.playPause
{
  display:block;
  margin:auto;
  width: 10vh;
  height:10vh;
}

/*For Mobiles */ 
@media screen and (max-width: 500px) {
  input[type=text]:focus {
    width:23vh;
    box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.575), 0 6px 20px 0 rgba(165, 152, 152, 0.123);
  }
  .cards-container{
    margin: 2vh 5% 1vh 5%;
    width:90%;
  }
  .player{
    margin:2vh 5vh 0 5vh;
  }
}